body {
    font-family: Arial, Helvetica, sans-serif;
}

.results__List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.result, .parkResultList, .event__list {
    background-color: lightgoldenrodyellow;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    width: 20%;
}

.itinerary__List {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

#park__itinerary {
    background-color: lightgoldenrodyellow;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 15px;
    width: 20%;
}

.itinerary__restaurant {
    background-color: lightgoldenrodyellow;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 15px;
    width: 20%;
}

.itinerary__meetup {
    background-color: lightgoldenrodyellow;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 15px;
    width: 20%;
}

.itinerary__concert {
    background-color: lightgoldenrodyellow;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 15px;
    width: 20%;
}